.lead {
	font-weight: 400;
    padding: 0 2rem;
    padding: 3rem 4rem;
    background-image: url(/img/bg/bg-theme-1_transparent.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    box-shadow: 0 0 45px 1px rgba(0,0,0,.1);
    font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
	.lead {
		margin-left: -5%;
	    margin-right: -5%;
	    padding: 4rem 7%;
	}
}