.container {
	width: 1260px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 $gutter;
}

// @media screen and (max-width: 1400px) {
// 	.container {
// 		width: 95%;
// 		padding: 0 2rem;
// 	}
// }

@media screen and (max-width: 667px) {
	.container {
		width: 100%;
		padding: 0 1rem;
	}	
}