// NORMALIZE
@import "base/normalize";

// LIBS
// @import "base/assets/libs";


// SASS BASE
@import "base/sass/mixin";
@import "base/sass/var";


// TYPOGRAPHY
@import "base/typography/fonts";
@import "base/typography/typography";


// GRID
@import "base/grid/grid";


// PAGE TEMPLATE
@import "block/standard/template/page-header";
@import "block/standard/template/page-footer";

@import "block/standard/template/page-wrapper"; // block pushing footer to the bottom of the page
@import "block/standard/template/page-content"; // <main class="page-content">

@import "block/standard/template/container"; // centered container 1200px wide

@import "block/standard/template/inner-page"; 		

@import "block/standard/template/sticky-header/sticky-header"; // centered container 1200px wide
@import "block/standard/template/sidebar/sidebar"; // centered container 1200px wide


//UNIVERSAL
@import "block/standard/universal/accordeon/accordeon";
@import "block/standard/universal/breadcrumbs/breadcrumbs";
@import "block/standard/universal/btn/btn";
@import "block/standard/universal/checkbox/checkbox";
@import "block/standard/universal/select/nice-select-prefixed";
@import "block/standard/universal/cta/cta";
@import "block/standard/universal/cta-stripe/cta-stripe";
@import "block/standard/universal/dropdown/dropdown";
@import "block/standard/universal/feature/feature";
@import "block/standard/universal/hero/hero";
@import "block/standard/universal/icon/icon";
@import "block/standard/universal/legal/legal";
@import "block/standard/universal/logo/logo";
// @import "block/standard/universal/made-by/made-by";
@import "block/standard/universal/modal/modal";
@import "block/standard/universal/nav/nav";
@import "block/standard/universal/pagination/pagination";
@import "block/standard/universal/photo/photo";
@import "block/standard/universal/search/search";
@import "block/standard/universal/tabs/tabs";
@import "block/standard/universal/tooltip/tooltip";
@import "block/standard/universal/to-top/to-top";
@import "block/standard/universal/user-options/user-options";


// E-SHOP BLOCKS
@import "block/standard/e-shop/basket/basket";

@import "block/standard/e-shop/brand-holder/brand-holder";
@import "block/standard/e-shop/brand-select/brand-select";
@import "block/standard/e-shop/brands-slider/brands-slider";
@import "block/standard/e-shop/catalog-link/catalog-link";
@import "block/standard/e-shop/catalog-list/catalog-list";
@import "block/standard/e-shop/catalog-nav/catalog-nav";
@import "block/standard/e-shop/catalog-slider/catalog-slider";
@import "block/standard/e-shop/category/category";
@import "block/standard/e-shop/filter-category/filter-category";
@import "block/standard/e-shop/filters/filters";
@import "block/standard/e-shop/product/product";
@import "block/standard/e-shop/products/products";
@import "block/standard/e-shop/product-detail/product-detail";
@import "block/standard/e-shop/product-detail-heading/product-detail-heading";
@import "block/standard/e-shop/product-list/product-list";
@import "block/standard/e-shop/product-list-controls/product-list-controls";
@import "block/standard/e-shop/product-logo/product-logo";
@import "block/standard/e-shop/quantity-counter/quantity-counter";
@import "block/standard/e-shop/sort/sort";

// MISC
@import "block/standard/misc/grtyoutube-popup";
@import "block/standard/misc/helper";

// SWIPER
@import "block/swiper/swiper";
@import "block/swiper/slide-category";
@import "block/swiper/slide-content";







