.catalog-list {
	.col-3 {
		border-right: 1px solid #dfdfdf;
		&:last-child {
			border-right: 0;
		}

		a:last-child {
			margin-bottom: 0;
		}

		.catalog-link:first-child {
			padding-top: 0;
		}
		.catalog-link:last-child {
			padding-bottom: 0;
		}
	}
}