
// block
.made-by {
    color: #fff;
    font-size: 1.2rem;
    opacity: .6;
    margin: 0 0 0 0;
}

// elements
.made-by__link {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    padding: 1.8rem 0 0 0;
    transition: 400ms;
    font-weight: 600;
    text-decoration: none;

    &:after {
        @include pseudo;
        top: -10px;
        opacity: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 4rem;
        height: 1.4rem;

        background-image: url(/img/logo_roof.png);
        background-size: 3.5rem;
        background-repeat: no-repeat;
        background-position: 50% 25%;

        transition: 300ms;
    }
    &:visited {
        color: #fff;
    }
    &:hover {
        background-position: 50% 0%;
        color: $color_main;
        &:after {
            top: 0;
            opacity: 1;
        }
    }
}

// modificators