
@keyframes animate-zoom{
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.04);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes anim-logo{
	0% {
		left: -.9rem;
		top: -1.9rem;
	}

	60% {
		left: -.9rem;
		top: -2.2rem;
	}
	100% {
		left: -.9rem;
		top: -1.9rem;
	}
}

@keyframes anim-updown{
	0% {
		transform: translateX(0) translateY(-50%);
	}

	50% {
		transform:  translateX(-5px) translateY(-66%);
	}
	// 70% {
	// 	transform: translateY(-70%);
	// }
	100% {
		transform:  translateX(0) translateY(-50%);
	}
}
