.flex-row {
	display: flex;
	flex-flow: row wrap;

	// change if needed
	justify-content: flex-start;
	align-items: stretch;

	margin-bottom: -$gutter;
}

.col-12 {
	flex: 1 1 100%;
	margin-bottom: $gutter;
}

.col-8 {
	flex: 1 1 64%;
	margin-right: $gutter;
	margin-bottom: $gutter;

	& + .col-4 {
		margin-right: 0;
	}

		@media screen and (max-width: 768px) {
			flex: 1 1 100%;
			margin-right: 0;
			margin-bottom: $gutter;
		}
}

.col-6 {
	flex: 1 1 34%;
	margin-right: $gutter;
	margin-bottom: $gutter;

	p:last-child,
	ul:last-child,
	li:last-child {
		margin-bottom: 0;
	}

	&:nth-child(2n) {
		margin-right: 0;
	}

		@media screen and (max-width: 768px) {
			flex: 1 1 100%;
			margin-right: 0;
			margin-bottom: $gutter;
		}
}

.col-4 {
	flex: 1 1 26%;
	margin-right: $gutter;
	margin-bottom: $gutter;

	&:nth-child(3n) {
		margin-right: 0;
	}

		@media screen and (max-width: 768px) {
			flex: 1 1 100%;
			margin-right: 0;
			margin-bottom: $gutter;
		}
}

.col-3 {
	flex: 1 1 18%;
	margin-right: $gutter;
	margin-bottom: $gutter;

	&:nth-child(4n) {
		margin-right: 0;
	}

		@media screen and (max-width: 960px) {
			flex: 1 1 43%;
			margin-bottom: $gutter;

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		@media screen and (max-width: 768px) {
			flex: 1 1 100%;
			margin-right: 0;
			margin-bottom: $gutter;
		}
}
@media screen and (max-width: 1024px) {
	
}


.col-2 {
	flex: 1 1 12%;
	margin-right: $gutter;
	margin-bottom: $gutter;

	&:nth-child(6n) {
		margin-right: 0;
	}

		@media screen and (min-width: 769px) and (max-width: 1024px) {
			flex: 1 1 26%;
			margin-bottom: $gutter;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}

		@media screen and (min-width: 569px) and (max-width: 768px) {
			flex: 1 1 40%;
			margin-bottom: $gutter;

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		@media screen and (max-width: 568px) {
			flex: 1 1 100%;
			margin-right: 0;
			margin-bottom: $gutter;
		}
}
