.nav-left {
    position: absolute;

    width: 28rem;
    left: 4rem;
    top: 10.6rem;

    padding-bottom: 9rem;


    background-image: url(/img/bg/bg-leftmenu.png);
    @include bg-cover;


    // border: 5px solid red;
    overflow: hidden;
    z-index: 3;
}

.nav-left__heading {
    position: relative;
    display: block;

	padding: 1.6rem 1rem 1.6rem 2.8rem;

	color: #fff;
    background-color: #2d2d2d;
	background-color: rgba(0,0,0,.6);

    cursor: pointer;
    text-decoration: none;

    &:visited,
    &:active {
        color: #fff;
    }

    &:hover .btn-burger__bar::after {
        width: 100%;
    }
}


.nav-left_small {
    padding-bottom: 0;
}
