.dropdown {
	position: relative;
	margin: 0 !important;
	padding: 0 !important;

	&.active {
		background-color: #363536;
	}
}
.dropdown__nav {
	position: absolute;
	z-index: 8;

	left: 8rem;
	width: 100%;


	background-color: #363536;
	box-shadow: 0 0 55px 1px rgba(0,0,0,.8);

}

.dropdown__link {
	display: block;

	padding: .6rem 1rem .6rem 2.8rem;
	margin: 0;

	color: #fff;
	text-decoration: none;

	&:visited {
		color: #fff;
	}

	&:hover {
		background-color: #474647;
	}
}