.row {
	@include flex-row(wrap, flex-start, stretch);
	margin-left: -$gutter/2;
	margin-right: -$gutter/2;
	margin-bottom: $gutter;
	// padding-top: $gutter;
	padding-bottom: 0;
	// background-color: orange;
}

.col-10,
.col-8,
.col-6,
.col-4,
.col-3,
.col-2 {
	padding-left: $gutter/2;
	padding-right: $gutter/2;
	// margin-bottom: $gutter;

	// border-bottom: $gutter solid transparent;
	padding-bottom: $gutter;

	p:last-child,
	ul:last-child,
	li:last-child {
		margin-bottom: 0;
	}

	h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child { margin-top: 0; }

	// только для демонстрации сетки
	p {
		padding: 15px;
		background-color: lightgray;
	}
}


// равные колонки

.col-10 {
	flex: 1 1 $col-width * 10;
	max-width: $col-width * 10;
}
.col-8 {
	flex: 1 1 $col-width * 8;
	max-width: $col-width * 8;
}
.col-6 {
	flex: 1 1 $col-width * 6;
	max-width: $col-width * 6;
}
.col-4 {
	flex: 1 1 $col-width * 4;
	max-width: $col-width * 4;
}
.col-3 {
	flex: 1 1 $col-width * 3;
	max-width: $col-width * 3;
}
.col-2 {
	flex: 1 1 $col-width * 2;
	max-width: $col-width * 2;
}





.max-width-full {
	max-width: 100% !important;
}


@media screen and (max-width: 992px) {
	.col-10 {
		flex: 1 1 $col-width * 8;
		max-width: $col-width * 8;
	}
	.col-8,
	.col-3,
	.col-4 {
		flex: 1 1 $col-width * 6;
		max-width: $col-width * 6;
	}
	.col-2 {
		flex: 1 1 $col-width * 4;
		max-width: $col-width * 4;
	}
}

@media screen and (max-width: 768px) {
	.col-8,
	.col-6,
	.col-4,
	.col-3 {
		flex: 1 1 $col-width * 12;
		max-width: $col-width * 12;
	}

	.col-2 {
		flex: 1 1 $col-width * 4;
		max-width: $col-width * 4;
	}
	.col-8 + .col-4 {
		flex: 1 1 $col-width * 12;
		max-width: $col-width * 12;
	}
}

@media screen and (max-width: 568px) {
	.col-10 {
		flex: 1 1 $col-width * 12;
		max-width: $col-width * 12;
	}
	.col-2 {
		flex: 1 1 $col-width * 12;
		max-width: $col-width * 12;
	}
}