.sticky-header {
	display: none;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	width: 100%;
	height: 44px;
	padding: 2px 0;

	background-color: #fff;
	box-shadow: 0px 0px 15px 1px rgba(0,0,0,.2);
	z-index: 9;

	// padding: 3.1rem 0 5.5rem 0;

	.container {
		position: relative;
		@include flex-row(nowrap, space-between,center);
		height: 100%; /*IE*/

		.logo {
			width: 100px;
			height: 40px;
		}
	}

	#progress {
		position: absolute;
	    bottom: 0px;
	    left: 0;
	    width: 0%;
	    height: 2px;
	    background-color: $color_main;
	}
}

.sticky-header_animated {
	animation: stretch .35s ease-out;
}

@keyframes stretch {
	0% {
		transform: rotateY(90deg)
	}

	100% {
		transform: rotateY(0deg)
	}
}