.feature {
	text-align: center;
	padding: 0 1.5rem 0 1.5rem;
	// letter-spacing: .5px;
	img {
		width: 10rem;
		margin: 0 auto 2.5rem auto;
	}
}

.feature__icon {
	margin: 0 auto 2.5rem auto;
	height: 5.6rem;
	width: 9.5rem;
	@include bg-contain;
}

.feature__name {
	font-size: 1.6rem;
	font-weight: 600;
	margin: 0 0 2.6rem 0;
	color: $color_font;
}

.feature__desc {
	font-size: 1.4rem;
	color: #919191;
	font-weight: bold;
}