.cta {

}

.cta__btn {
	position: relative;	
	overflow: hidden;
	transition: 200ms;

	&:first-child:hover {
		transform: translateX(5px);
	}

	span {
		color: #fff;
		font-size: 1.6rem;
		font-weight: 600;
		text-transform: uppercase;
		z-index: 1;	
	}
}

@media screen and (max-width: 1100px) {
	.cta {
		@include flex-row(wrap, center, center);

		
	}

	.cta__btn {
		&:hover {
			transform: translateY(-5px);
		}
	}
}

@media screen and (max-width: 608px) {
	.cta {
		a:first-child {
			margin: 0 0 1rem 0;
		}
	}
}

@media screen and (max-width: 568px) {
	.cta {
		@include flex-col(wrap, center, center);

		
	}

	.cta__btn {
		&:hover {
			transform: translateX(0px);
		}
	}
}