@mixin flex-col($wrap, $jusify-content, $align-items) {
    display: flex;
    flex-flow: column $wrap;

    justify-content: $jusify-content;
    align-items: $align-items;
}
@mixin flex-row($wrap, $jusify-content, $align-items) {
    display: flex;
    flex-flow: row $wrap;

    justify-content: $jusify-content;
    align-items: $align-items;
}

@mixin pseudo() {
	position: absolute;
	content: '';
}

@mixin bg-contain {
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin bg-cover {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

