@mixin flex-col($wrap, $jusify-content, $align-items) {
    display: flex;
    flex-flow: column $wrap;

    justify-content: $jusify-content;
    align-items: $align-items;
}
@mixin flex-row($wrap, $jusify-content, $align-items) {
    display: flex;
    flex-flow: row $wrap;

    justify-content: $jusify-content;
    align-items: $align-items;
}

@mixin pseudo() {
	position: absolute;
	content: '';
}

@mixin bg-contain {
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin bg-cover {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}



// fonts

@mixin font-kit($base-font, $font-1200, $font-992, $font-768, $font-568) {
    font-size: $base-font;

    @media screen and (max-width: 1200px) {
        font-size: $font-1200;
    }

    @media screen and (max-width: 992px) {
        font-size: $font-992;
    }

    @media screen and (max-width: 768px) {
        font-size: $font-768;
    }

    @media screen and (max-width: 568px) {
        font-size: $font-568;
    }
}

@mixin line-height-kit($base-line-height, $line-height-1200, $line-height-992, $line-height-768, $line-height-568) {
    line-height: $base-line-height;

    @media screen and (max-width: 1200px) {
        line-height: $line-height-1200;
    }

    @media screen and (max-width: 992px) {
        line-height: $line-height-992;
    }

    @media screen and (max-width: 768px) {
        line-height: $line-height-768;
    }

    @media screen and (max-width: 568px) {
        line-height: $line-height-568;
    }
}


