
// colors
$color_main: #66ccff;


$color_main-r: #c32429;
$color_main-b: #1d3ea0;


$color_main-dark: #157760;
$color_main-light: #e3f4f0;
$color_text: #515151;


$color_green-d: #36975b;
$color_green-l: #46c276;

$color_blue-d: #296495;
$color_blue-l: #4ba1d2;


$color_font: #323232;


// fonts

$p: 16px;

// grid
$col-width: 100% / 12;



// gutters
$gutter: 20px;

$tr: 250ms;