
// список ссылок
// 	горизонтальный
// 	вертикальный
// 	с дропдауном

.nav {
	@include flex-row(nowrap, flex-start, center);
	z-index: 2;

	a {
		position: relative;
		margin: 0 0 0 0;
		padding: 1.2rem .9rem;

		font-weight: 400;
		font-size: 1.3rem;

		text-decoration: none;

		cursor: pointer;
		transition: $tr;
		
		&:last-child {
			margin-right: 0;
		}

		&::after {
			@include pseudo;
			width: 100%;
			height: 2px;
			left: 0;
			bottom: -.2rem;
			background-color: $color_font;
			opacity: 0;

			transform: translateY(-4px);
			transition: $tr;
		}

		&:hover {
			color: $color_main;
		}

		&.active {
			font-weight: 600;
		}
	}
}