// USE THIS

// @include font-kit(16px, 16px, 15px, 15px, 14px);
// @include line-height-kit(1.15, 1.20, 1.3, 1.4, 1.55);



// DOCUMENT

html {
    font-family: '', sans-serif;
    font-weight: 400;
    letter-spacing: .2px;
    color: #323232;
}
body {
    @include font-kit(16px, 15px, 15px, 14px, 13px);
    @include line-height-kit(1.15, 1.20, 1.3, 1.4, 1.55);
}



// HEADINGS

h1 {
    @include font-kit(50px, 47px, 44px, 41px, 33px);
    @include line-height-kit(1.15, 1.20, 1.25, 1.3, 1.35);
    font-weight: 600;
    color: $color_font;
    margin: $gutter*2 0 $gutter*2 0;
}
h2 {
    @include font-kit(45px, 42px, 39px, 36px, 28px);
    @include line-height-kit(1.15, 1.20, 1.3, 1.4, 1.55);
    font-weight: 600;
    color: $color_font;
    margin: $gutter*2 0 $gutter*2 0;
}
h3 {
    @include font-kit(40px, 37px, 34px, 31px, 24px);
    @include line-height-kit(1.15, 1.20, 1.3, 1.4, 1.55);
    font-weight: 600;
    color: $color_font;
    margin: $gutter*2 0 $gutter*2 0;
}
h4 {
    @include font-kit(38px, 35px, 32px, 29px, 22px);
    @include line-height-kit(1.15, 1.20, 1.3, 1.4, 1.55);
    font-weight: 600;
    color: $color_font;
    margin: $gutter*2 0 $gutter*2 0;
}
h5 {
    @include font-kit(36px, 33px, 30px, 27px, 21px);
    @include line-height-kit(1.15, 1.20, 1.3, 1.4, 1.55);
    font-weight: 600;
    color: $color_font;
    margin: $gutter*2 0 $gutter*2 0;
}
h6 {
    @include font-kit(33px, 30px, 27px, 24px, 20px);
    @include line-height-kit(1.15, 1.20, 1.3, 1.4, 1.55);
    font-weight: 600;
    color: $color_font;
    margin: $gutter*2 0 $gutter*2 0;
}



// CONTENT

p, span, ul, li, button {
    @include font-kit(16px, 16px, 15px, 15px, 14px);
    @include line-height-kit(1.15, 1.20, 1.3, 1.4, 1.55);
    color: $color_font;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}



// LINKS

a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;

    &:visited { color: #007bff; }

    &:focus,
    &:active { color: #007bff; }

    &:hover { text-decoration: underline; }
}



// TABLES

table {
    width: 100%;
}

table tr {
    @include font-kit(16px, 16px, 15px, 15px, 14px);
    @include line-height-kit(1.15, 1.20, 1.3, 1.4, 1.55);
    position: relative;
    ovarflow: hidden;
    td {
        padding: .1rem 0rem;
        border-bottom: 1px solid #e9e9e9;
    }
    &:nth-child(odd) {
        td {
            background-color: #efefef;
        }
    }
    &:nth-child(even) {
        td {
            background-color: transparent;
        }
    }
    tr:hover {
        td {
            background-color: gray;
        }
    }
}



// LISTS

ul {
    padding-left: 1.3rem;
    margin-left: 0;
    li {
        position: relative;
        margin-bottom: 1rem;
        padding-left: 1rem;
    }
}








